body {
  text-align: center;
  color: rgb(255,255,255);
}
a {
  text-decoration: none;
}

.header {
  color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 64px;
  display: inline-block;
  padding-top: 24px;
  text-shadow: -2px 0 #00bdff, 0 2px #00bdff, 2px 0 #00bdff, 0 -2px #00bdff;
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.beach {
  background: url("beach.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.sky {
  background: url("ResumeBGTall.gif");
  background-size: cover;
}

.park {
  background: url("Park.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1400px;
}

.waves {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

#start {
  display: "block";
}

#resume {
  display: "none";
}

#hobbies {
  display: "none";
}

#resume-arrow {
  display: "none";
}

#hobbies-arrow {
  display: "none";
}

.arrow {
  padding-right: 4px;
  position: relative;
}

.largelink {
  color: #00bdff;
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
  z-index: 1;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.resume-header {
  color: #FFFFFF;
  font-size: 32pt;
  display: inline-block;
  padding-top: 24px;
  margin-left: 32px;
  font-family: 'Press Start 2P', cursive;
}

.left-window {
  height: 325px;
  width: 500px;
  margin-left: 10%;
  background: url("Window-Blue.png");
  background-repeat: no-repeat;
  background-size: 500px 325px;
}

.right-window {
  height: 325px;
  width: 500px;
  margin-left: 10%;
  background: url("Window-Purple.png");
  background-repeat: no-repeat;
  background-size: 500px 325px;
}

.window-title {
  padding-top: 4px;
  color: #1e0094;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

.window-text {
  color: #1e0094;
  font-family: 'Quantico', sans-serif;
  font-size: 16px;
  text-align: left;
  margin-left: 12px;
  margin-right: 12px;
}

.back {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

.print {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 4vw;
  padding-top: 3vh;
  width: auto;
}

.vending {
  position: absolute;
  background: url("vending.gif");
  height: 600px;
  width: 400px;
  top: 150px;
  left: 10vw;
}

#vend1 {
  position: absolute;
  top: 116px;
  left: 75px;
}

#vend2 {
  position: absolute;
  top: 116px;
  left: 183px;
}

#vend3 {
  position: absolute;
  top: 116px;
  left: 291px;
}

#vend4 {
  position: absolute;
  top: 216px;
  left: 75px;
}

#vend5 {
  position: absolute;
  top: 216px;
  left: 183px;
}

#vend6 {
  position: absolute;
  top: 216px;
  left: 291px;
}

.instructions {
  color: #FFFFFF;
  font-family: 'Quantico', sans-serif;
  font-size: 20px;
  position: absolute;
  top: 285px;
  left: 40px;
  text-align: left;
}

#desc {
  position: absolute;
  background: url("holoClosed.png");
  height: 600px;
  width: 400px;
  top: 750px;
  left: 10vw;
}

#descTitle {
  color: #FFFFFF;
  text-shadow: -2px 0 #00bdff, 0 2px #00bdff, 2px 0 #00bdff, 0 -2px #00bdff;
  font-family: 'Quantico', sans-serif;
  font-size: 32px;
  position: absolute;
  top: 8px;
  text-align: left;
  left: 32px;
}

#descSkill {
  background: url("skill1.png");
  position: absolute;
  top: 96px;
  text-align: left;
  left: 32px;
}

#descSkillText {
  color: #FFFFFF;
  text-shadow: -2px 0 #00bdff, 0 2px #00bdff, 2px 0 #00bdff, 0 -2px #00bdff;
  font-family: 'Quantico', sans-serif;
  font-size: 24px;
  position: absolute;
  top: 64px;
  text-align: left;
  left: 144px;
}

#descText {
  position: absolute;
  top: 112px;
  text-align: left;
  left: 32px;
  right: 32px;
  font-family: 'Quantico', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}